.claude
rsync*_.sh

resources/
results/
discussions/
trash/
backup/
dag/

workflow/logs/
analysis/data/
analysis/logs/
analysis/00_data_quality/*.png
analysis/01_variant_landscape/figures/

.venv/
.snakemake/

mock*
align_bam_headers

*.pdf
*.xlsx
*.DS_Store
*.fna